<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.ServiceMapper">

	<select id="findAllServiceKinds" resultType="Service">
		SELECT service_id AS id, title, content
		FROM service
	</select>
	
	<select id="findProvideServicesBySitter" parameterType="String" resultType="Service">
		SELECT service_id AS id, title, content
		FROM provide_service JOIN service USING (service_id)
		WHERE sitter_id = #{id}
    </select>
    
    <resultMap id="serviceByCareMap" type="CareDetails">
		<id column="rcv_id" jdbcType="VARCHAR" property="id" javaType="String" />
		<association property="careInfo" column="care_id" javaType="Care">
			<id column="care_id" jdbcType="VARCHAR" property="id" javaType="int" />
		</association>
		<association property="serviceInfo" column="service_id" javaType="Service">
			<id column="service_id" jdbcType="VARCHAR" property="id" javaType="String" />
			<result column="service_name" jdbcType="VARCHAR" property="title" javaType="String" />
		</association>
		<association property="carePet" column="pet_id" javaType="Pet">
			<id column="pet_id" jdbcType="VARCHAR" property="id" javaType="String" />
			<result column="pet_name" jdbcType="VARCHAR" property="name" javaType="String" />
		</association>
	</resultMap>
    
    <select id ="findReceiveServicesByCare" parameterType="int" resultMap="serviceByCareMap">
    	SELECT rs.rcv_id, rs.care_id, rs.service_id, rs.pet_id,
    		s.title AS service_name,
    		p.name AS pet_name
		FROM receive_service rs
			LEFT OUTER JOIN care c ON rs.care_id = c.care_id
    		LEFT OUTER JOIN service s ON rs.service_id = s.service_id
    		LEFT OUTER JOIN pet p ON rs.pet_id = p.pet_id
		WHERE c.care_id = #{careId}
		ORDER BY rs.pet_id, rs.service_id
    </select>
    
    <select id="countReceiveServiceByPetId" parameterType="String" resultType="int">
    	SELECT COUNT(*) 
    	FROM receive_service 
    	WHERE pet_id = #{pet_id}
    </select>
    
    <resultMap id="serviceByNMap" type="CareDetails">
		<id column="rcv_id" jdbcType="VARCHAR" property="id" javaType="String" />
		<association property="careInfo" column="care_id" javaType="Care">
			<id column="care_id" jdbcType="VARCHAR" property="id" javaType="int" />
		</association>
	</resultMap>
    
    <select id="findNReceiveServices" parameterType="java.util.List" resultMap="serviceByNMap">
    	SELECT rcv_id, care_id
    	FROM receive_service
    	WHERE care_id = #{careId}
            <if test="careDetailsList.size != 0">
                AND rcv_id NOT IN
                <foreach collection="careDetailsList" item="item" index="index"  open="(" separator="," close=")">
                    #{item.id}
                </foreach>
            </if>
    </select>
    
    <insert id="createReceiveServices" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
	    	INTO RECEIVE_SERVICE (rcv_id, care_id, pet_id, service_id)
	    	VALUES (#{item.id}, #{item.careInfo.id}, #{item.carePet.id}, #{item.serviceInfo.id})	
		</foreach>
    </insert>
    
    <delete id="deleteReceiveService" parameterType="int">
		DELETE FROM receive_service
		WHERE care_id = #{id}
	</delete>
    
    <insert id="addProvideService" parameterType="hashMap">
    	<foreach collection="list" item="map" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
	    	INTO PROVIDE_SERVICE (service_id, sitter_id)
	    	VALUES (#{map.service}, #{map.sitterId})	
		</foreach>
	</insert>
	
	<insert id="createCareCheckList" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
	    	INTO care_checklist (record_id, rcv_id, care_check)
	    	VALUES (#{item.recordId}, #{item.id}, #{item.check})	
		</foreach>
    </insert>
</mapper>