<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.ServiceMapper">
	<cache />
	
	<select id="findAllServiceKinds" resultType="Service">
		SELECT service_id AS id, title, content
		FROM service
	</select>
	
	<select id="findProvideServicesBySitter" parameterType="String" resultType="Service">
		SELECT service_id AS id, title, content
		FROM provide_service JOIN service USING (service_id)
		WHERE sitter_id = #{id}
    </select>
    
    <select id ="findReceiveServicesByCare" parameterType="int" resultType="CareDetails">
    	SELECT rs.rcv_id AS id,
    		rs.care_Id AS careInfo.id,
    		rs.service_id AS serviceInfo.id, 
    		rs.pet_id AS carePet.id, 
    		s.title AS serviceInfo.title,
    		p.name AS carePet.name
		FROM receive_service rs
			LEFT OUTER JOIN care c ON rs.care_id = c.care_id
    		LEFT OUTER JOIN service s ON rs.service_id = s.service_id
    		LEFT OUTER JOIN pet p ON rs.pet_id = p.pet_id
		WHERE c.care_id = #{careId}
    </select>
    
    <select id="countReceiveServiceByPetId" parameterType="String" resultType="int">
    	SELECT COUNT(*) 
    	FROM receive_service 
    	WHERE pet_id = #{pet_id}
    </select>
    
    <insert id="createReceiveServices" parameterType="java.util.List">
	    <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
	    	INTO RECEIVE_SERVICE (rcv_id, care_id, pet_id, service_id)
	    	VALUES (#{item.id}, #{item.careInfo.id}, #{item.carePet.id}, #{item.serviceInfo.id})	
		</foreach>
    </insert>
    
    <delete id="deleteReceiveService" parameterType="int">
		DELETE FROM receive_service
		WHERE care_id = #{id}
	</delete>
    
    <insert id="addProvideService" parameterType="hashMap">
    	<foreach collection="list" item="map" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" >
	    	INTO PROVIDE_SERVICE (service_id, sitter_id)
	    	VALUES (#{map.service}, #{map.sitterId})	
		</foreach>
	</insert>
</mapper>