 #headerWrap {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}   

#pageWrap {
    margin: 100px auto 0px auto;
    width: 1194px;
}

#pageTit {
    margin-bottom: 100px;
    font-size: 24px;
}

#pageInner {
    display: flex;
    justify-content: space-between;
    width: 1194px;
}

#introPage {
    width: 684px;
}

#infooPage {
    width: 444px;
}

#locationWrap {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12px;
    color: #C4C4C4;
}

#locationImg {
    margin-right: 4px;
}

#sitterName {
    font-size: 18px;
}

#subTit {
    margin: 40px 0px 20px 0px;
    font-size: 16px;
}

#service {
    font-size: 14px;
    color: #535353;
}

#ablePetWrap {
    display: flex;
    align-items: center;
    height: 40px;
}

#ablePet {
    margin-right: 14px;
    padding: 2px 8px;
    font-size: 14px;
    color: #E3C1A2;
    border: 1px solid #E3C1A2;
    border-radius: 50px;
}

#certName {
    font-size: 14px;
    color: #535353;
}

#btnWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 444px;
    height: 40px;
}

#acceptBtn {
    width: 200px;
    height: 40px;
    color: white;
    background: #89A0F2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#refuseBtn {
    width: 200px;
    height: 40px;
    color: white;
    background: #F28989;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#introTit {
    margin: 40px 0px 10px 0px;
    font-size: 18px;
}

#introText {
    color: #535353;
    font-size: 14px;
}

#certName {
    margin: 20px 0px 80px 0px;
}

#applyImg {
    width: 684px;
    height: 476.06px;
    object-fit: scale-down;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

#certImg {
    width: 444px;
    height: 309.02px;
    object-fit: cover;
}
      
#headerWrap {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

#logo {
    z-index: 1;
   	margin-left: 14px;
}