@charset "UTF-8";

#loginBg {
    background-color: #F5F6F7;
}

#loginWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

#loginTit {
    margin-bottom: 40px;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #89A0F2;
}

#loginId {
    margin-bottom: 10px;
    padding-left: 20px;
    width: 420px;
    height: 50px;
    border: 1px solid #DCDCDC;
}

#loginPwd {
    margin-bottom: 40px;
    padding-left: 20px;
    width: 420px;
    height: 50px;
    border: 1px solid #DCDCDC;
}

#loginId:focus,
#loginPwd:focus {
    outline-color: #89A0F2;
}

#loginBtn {
    margin-bottom: 40px;
    width: 440px;
    height: 50px;
    background-color: #89A0F2;
    color: white;
    border: none;
    cursor: pointer;
}

#joinLinkWrap {
    width: 440px;
    font-size: 12px;
    color: #999999;
}

#joinLink {
    font-size: 12px;
    color: #89A0F2;
}