@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#mainPageWrap {
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

#nav {
    width: 324px;
    border-right: 1px solid #EAEAEA;
}

#logoWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EAEAEA;
}

#logoInner {
    display: flex;
    align-items: center;
}

#logoImg {
    margin-left: 20px;
}

#logoTit {
    font-family: 'Righteous', cursive;
    padding-left: 14px;
    font-size: 18px;
}

#rankImg {
    margin-right: 20px;
}

#navInner {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#navListOn {
    display: flex;
    align-items: center;
    width: 280px;
    height: 50px;
    background: #F6F8FA;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#navList {
    display: flex;
    align-items: center;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
}

#navList:hover {
    background: #F6F8FA;
    cursor: pointer;
}

#navImg {
    padding-left: 20px;
    padding-right: 20px;
}

#componentInner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1596px;
    height: 70px;
    background-color: #F6F8FA;
}

#heartImgWrap,
#personImgWrap {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#logoutImgWrap {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#heartImgWrap:hover,
#personImgWrap:hover,
#logoutImgWrap:hover {
    background: #EAEEF2;
    cursor: pointer;
}

#heartImg,
#personImg,
#logoutImg {
    width: 20px;
    height: 20px;

}

#contentTitWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

#contentTitInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contentTit {
    margin-bottom: 4px;
    font-size: 18px;
}

#contentSubTit {
    font-size: 14px;
    color: #7AAFFF;
}

#mainPageBanner {
    width: 1596px;
    height: 480px;
}

#reviewBox {
    margin-left: 50px;
    width: 364px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    position: relative;
}

#reviewBoxInner {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}

#reviewerDateWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#reviewer {
    font-size: 18px;
}

#reviewDate {
    font-size: 12px;
    color: #c4c4c4;
}

#review {
    font-size: 14px;
    color: #757575;
}

#targetScopeWrap {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

#scopeWrap {
    display: flex;
}

#reviewTarget {
    font-size: 12px;
    color: #C4C4C4;
}

#scope {
    margin-left: 6px;
    font-size: 12px;
}

#targetLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 70px;
    height: 24px;
    background-color: #757575;
    color: white;
    border-radius: 10px 0px 10px 0px;
    font-size: 12px;
    position: absolute;
    top:2.8%;
    left:9%;
    transform: translate(-50%, -50%);
}

#reviewerTargetWrap {
    display: flex;
}

#reviewBoxWrap {
    display: flex;
    margin-left: 150px;
    width: 1194px;
}

#reviewMoreBtn {
    margin: 60px 0px;
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    color:#7AAFFF;
    cursor: pointer;
}

* {
    padding: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

.cal_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0px 20px;
    font-size: 30px;
}

table.calendar{
    display: inline-table;
    text-align: left;
}

table.calendar td{
    vertical-align: top;
    border: 1px solid #EAEAEA;
    width: 116px;
}

#cal_top_date {
    font-size: 36px;
}

#calendarDay {
    margin-top: 8px;
    font-size: 18px;
    color: #535353;
}

#calendarWrap {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
}

#calendarDateWrap {
    margin-right: 40px;
    width: 340px;
    text-align: center;
}

#calDayName {
    padding-bottom: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    height: 200px;
    background-color: #F1F1F1;
    color: white;
}