@charset "UTF-8";

#headerWrap {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

#pageWrap {
    margin: 100px auto 0px auto;
    width: 1194px;
}

#pageTit {
    margin-bottom: 100px;
    font-size: 24px;
}

#tableTit {
    padding-left: 20px;
    height: 40px;
    background-color: #F3F3F3;
    font-size: 18px;
}

table {
    width: 100%;
    border: 1px solid #EAEAEA;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #EAEAEA;
}

td {
    padding-left: 20px;
    height: 40px;
    font-size: 14px;
}

#tdTit {
    width: 200px;
    border-right: 1px dotted #EAEAEA;
}


#addBtn {
    margin-left: 40px;
    width: 100px;
    height: 40px;
    background-color: #89A0F2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#petInfoAddBtnWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 66%;
    background-color: #F3F3F3;
}

#petInfoAddBtn {
    width: 80px;
    height: 24px;
    background-color: white;
    border: 1px solid #b1b1b1;
    cursor: pointer;
}

#petInfoBox {
    display: flex;
    align-items: center;
    width: 1154px;
    height: 100px;
}

#petImg {
	width: 90px;
    height: 90px;
}

#deleteImg {
    margin-left: 60px;
    cursor: pointer;
}

#petInfoWrap {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#petBirth {
    margin-top: 2px;
    font-size: 12px;
    color: #535353;
}

#petKind {
    margin-top: 8px;
    font-size: 12px;
    color: #E3C1A2;
}

#petInfoBoxWrap {
    border-bottom: 1px dotted #EAEAEA;
}