@charset "UTF-8";

#headerWrap {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

#reservationFormWrap {
    margin: 100px auto 0px auto;
    width: 1194px;
}

#targetName {
    margin-bottom: 100px;
    font-size: 24px;
}

#reservationWrap {
    margin: 0 auto;
    width: 1194px;
}

#subPageTit {
    margin: 80px 0px 40px 0px;
    font-size: 18px;
}

#periodWrap {
    display: flex;
    justify-content: space-between;
}

#ableTimeWrap {
    padding: 20px 0px;
    width: 630px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

a { color:#000000;text-decoration:none; }
.scriptCalendar { text-align:center; }
.scriptCalendar > thead > tr > td { width:80px;height:50px; }
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
.scriptCalendar > thead > tr:last-child > td { 
    background-color:#F7F7F7;
    border-top: 2px solid #7AAFFF;
    border-left: 1px solid #EAEAEA; 
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;  
}

.scriptCalendar > tbody > tr > td { width:80px;height:50px; 
    border: 1px solid #EAEAEA;  
}

#ableTimeTit {
    margin-bottom: -10px;
    text-align: center;
    font-size: 18px;
}

.scriptCalendar {
    margin: 0 auto;
}

#calYearMonth {
    font-size: 14px;
    color: #C1C1C1;
}

#petInfoBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    width: 440px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#petInfoBoxInner {
    display: flex;
}

#petInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#petNBWrap {
    display: flex;
    margin-bottom: 26px;
}

#petName {
    font-size: 14px;
}

#petBirth {
    margin-left: 14px;
    font-size: 12px;
    color: #C4C4C4;
}

#petKind {
    font-size: 12px;
    color: #E3C1A2;
}

#reviewText {
    padding: 20px;
    width: 1154px;
    height: 160px;
    font-size: 14px;
    resize: none;
    border: 1px solid #C4C4C4;
}

#reservationBtn {
    margin-top: 80px;
    float: right;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: #7AAFFF;
    color: white;
    border: none;
    cursor: pointer;
}

#reservationBtn:focus {
    outline: none;
}

#periodInner {
    width: 480px;
}

#askPeriodTit {
    margin-bottom: 20px;
    font-size: 14px;
}

/*datepicker에서 사용한 이미지 버튼 style적용*/
img.ui-datepicker-trigger {
    margin-left:5px; vertical-align:middle; cursor:pointer;
}

#fromDate,
#toDate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

input::-webkit-input-placeholder {
    color: black;
    font-size: 14px;
}

input:-ms-input-placeholder {
    color: black;
    font-size: 14px;
}

#pickPeriodWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}

#calendarImg {
    position: absolute;
    top: 34%;
    left: 8%;
    transform: (50%, 50%);
}

#pickPeriodInner {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

#carePriceKind {
    margin-top: 20px;
    font-size: 14px;
    color: #7AAFFF;
}

#carePrice {
    float: right;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

#selectPetTit {
    margin: 0px 0px 20px 0px;
    font-size: 14px;
}

#checkBoxImg {
    cursor: pointer;
}

#ableTimeWrap {
    height: 382px;
}