@charset "UTF-8";

#logo {
	z-index: 1;
	margin-left: 14px;
}
		
#pageWrap {
    margin: 0 auto;
    width: 1194px;
}

#pageTit {
    margin: 80px 0px;
    font-size: 24px;
}

#introTit {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 1154px;
    height: 40px;
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0px 0px;
}

#introTextWrap {
    padding: 20px;
    width: 1154px;
    border: 1px solid #F3F3F3;
    border-radius: 0px 0px 5px 5px;
}

#introduction {
    width: 100%;
    height: 200px;
}

#introText {
    width: 100%;
    height: 400px;
    resize: none;
    border: none;
}

#infoText {
    width: 100%;
    border: none;
}

#infoText:focus {
    outline: none;
}

#introText:focus {
    outline: none;
}

#btnWrap {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    width: 1194px;
}

#applyBtn {
    width: 100px;
    height: 40px;
    background-color: #89A0F2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#infoTit {
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding: 0px 20px;
    width: 1154px;
    height: 40px;
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 5px 5px 0px 0px;
}

#infoContent {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 1154px;
    height: 40px;
    border: 1px solid #F3F3F3;
    border-radius: 0px 0px 5px 5px;
}

#fileWarning {
    margin-top: 10px;
    font-size: 12px;
    color: #89A0F2;
}

#fileWrap {
    margin-top: 20px;
    display: flex;
}

#fileImg {
    margin-right: 10px;
}

#blank {
    margin-left: 20px;
}