@charset "UTF-8";

#headerWrap {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

#pageWrap {
    margin: 100px auto 0px auto;
    width: 1194px;
}

#pageTit {
    margin-bottom: 100px;
    font-size: 24px;
}

table {
    width: 100%;
    border: 1px solid #EAEAEA;
    border-collapse: collapse;
    border-radius: 5px;
}

th {
    height: 40px;
    background-color: #F3F3F3;
}

td {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
}

#applyDetailBtn {
    width: 100px;
    height: 24px;
    border: 1px solid #89A0F2;
    color: #89A0F2;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}